.accountinfo{
    display:flex;
    padding:0.2em;
}
body{
    margin:0;
    padding:0;
    color:#cccccc;
    background-color:#282828;
}
.accountproperty{
    margin-left:5em;
}
.tables{
    display:flex;
}
.chartcontainer{
    border-style:solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: #2d7c9d;
    margin:0.5em;
}
.charts{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}