.accountinfo{
    display:flex;
    padding:0.2em;
}
body{
    margin:0;
    padding:0;
    color:#cccccc;
    background-color:#282828;
}
.accountproperty{
    margin-left:5em;
}
.tables{
    display:flex;
}